@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic); /*Merriweather*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /*Montserrat*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,800italic); /*Open Sans*/

body{
	background-color: #FEFAE9;
}

p {
	font-family: Merriweather;
	font-weight: 300;
	font-size: 1em; 
	line-height: 2.1em;
	color: #2C2C2C;
}

h1{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 3.2em;
	text-transform: capital;
	color: #000;
	padding-bottom: .4em;
}

h2 {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1.6em;
	letter-spacing: .1em;
	text-align: center;
	color: #2C2C2C;
}

h3 {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1.1em;
	letter-spacing: .2em;
	padding-top: 2em;
	text-align: center;
}

a {
	color:#AF8401;
	text-decoration: none;
}

blockquote {
	font-family: Open Sans;
	font-style: italic;
	font-weight: 400;
	font-size: 1.06em;
	line-height: 2.4em;
	color:#252B38;
}

/*													 CONTENEDORES */

.portada {
	width: 100%;
}

.recorridos{
	background-color: #F7EADD;
	width: 100%;
}

/* separador de titulos */
.linea {
	background-color:#AF8401;
	height: 2px;
	max-width: 3em;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: block;
}

/*													TIPOGRAFIAS */

.portada p{
	font-size: 1.4em;
	color: #000;
	font-style: italic;
	border-top: 2px solid #AF8401;
	max-width: 10em;
	padding-top: 0.6em;
}

.bajada {
	font-family: Merriweather;
	font-weight: 300;
	font-style: italic;
	font-size: 0.86em;
	letter-spacing: .03em;
	color: #2C2C2C;
	text-align: center;
	line-height: 0;
}

.txt-derecha {
	padding:1em;
	margin:0 auto;
	display: block;
	z-index: 20;
	float: right;
}

.txt-izquierda {
	padding:1em;
	margin:0 auto;
	display: block;
	z-index: 20;
	float: right;
}