@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic); /*Merriweather*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /*Montserrat*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,800italic); /*Open Sans*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
	background-color: #FEFAE9;
	height: 100%;
}

p {
	font-family: Merriweather;
	font-weight: 300;
	font-size: 1em; 
	line-height: 2.1em;
	color: #2C2C2C;
}

h1{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 3.2em;
	color: #000;
	padding-bottom: .4em;
}

h2 {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1.6em;
	letter-spacing: .1em;
	text-align: center;
	color: #2C2C2C;
}

h3 {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1.1em;
	letter-spacing: .2em;
	padding-top: 2em;
	text-align: center;
}

a {
	color:#AF8401;
	text-decoration: none;
}

section {
  height: 100vh;
}

blockquote {
	font-family: Merriweather;
	font-style: italic;
	font-weight: 300;
	font-size: 1em;
	line-height: 2.4em;
	color:#252B38;
}

img {
	width:100%;
}


/*													 CONTENEDORES */

#portada {
	width: 100%;
	padding-top: 6em;
	padding-bottom: 4em;
}

.recorridos {
	background-color: #F7EADD;
	width: 100%;
	padding-top: 4em;
	padding-bottom: 6em;
	height: 100vh;
}

/* centrado horizontal*/
.centro {
	max-width: 20em;
	margin: 0 auto;
}

/* centrado vertical */
.centrado {
	position: relative;
 	top: 50%;
	transform: translateY(-50%);
}

/* separador de titulos */
.linea {
	background-color:#AF8401;
	height: 2px;
	max-width: 3em;
	margin: 0 auto;
} 

.row {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.txt-container {
	overflow: hidden;
	position: relative;
	float: right;
	background-color:#FEFAE9;
	/*centrado vertical*/
	position: relative;
 	top: 50%;
	transform: translateY(-50%);
}

/*													TIPOGRAFIAS */

#portada p{
	font-size: 1.4em;
	color: #000;
	font-style: italic;
	border-top: 2px solid #AF8401;
	max-width: 10em;
	padding-top: .6em;
}

.recorridos p {
	font-family: Merriweather;
	font-weight: 300;
	font-style: italic;
	font-size: .86em;
	letter-spacing: .03em;
	color: #2C2C2C;
	text-align: center;
	line-height: 0;
}

.txt {
	padding: 2em;
	margin: 0 auto;	
	text-align: justify;
	vertical-align: center center;
}

.fuente {
	font-family: Merriweather;
	font-weight: 300;
	font-style: italic;
	font-size: .86em;
	letter-spacing: .03em;
	text-align: right;
	color: #7E7E7E;
	padding-top: .3em;
}

/*												SECCIONES*/
#calera {
	background: url(img/01.jpg);
}

#calera1 {
	background: url(img/03.jpg)
}